@import "../styles.scss";

.main-content {
    background: url(../assets/bg.jpg) no-repeat center center fixed; 
    height: 100%;
    min-height: 100%;
}

.nav-bar {
    background: #555555;
}

.content-card {
    //background-color: white;
}

